[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gymnasium = "*"
stable-baselines3 = "*"
torch = "*"
numpy = "==1.23.5"
wandb = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.10"
